﻿@model ToDoList.Models.ToDoTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>ToDoTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <p>@Model.Name</p>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <p>@Model.CreatedOn.ToString("yyyy-MM-ddTHH:mm")</p>
            </div>
            <div class="form-group">
                <label asp-for="Done" class="control-label"></label>
                <p>@Model.Done</p>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <p>@Model.Description</p>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.CreatedBy" class="control-label"></label>
                <p>@Model.Assignment.CreatedBy</p>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.AssignedTo" class="control-label"></label>
                <p>@Model.Assignment.AssignedTo</p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

