﻿@model ToDoList.Models.ToDoTask

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ToDoTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="hidden" asp-for="TaskId"/>
                <input type="hidden" asp-for="AssignmentId"/>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Done" class="control-label"></label>
                <input asp-for="Done" type="checkbox"/>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.CreatedBy" class="control-label"></label>
                <input asp-for="Assignment.CreatedBy" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Assignment.AssignedTo" class="control-label"></label>
                <input asp-for="Assignment.AssignedTo" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

