﻿@model IEnumerable<ToDoTask>
@{
}

<h1>ToDoList</h1>

<p>
    @Html.ActionLink("Create a new task", "Create")
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignment.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignment.AssignedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Done)
        </th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Count() <= 0)
    {
        <tr>
                <td colspan="7"> There is no data in the database!</td>
        </tr>
    }
    else
    {
    @foreach (var task in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => task.TaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>task.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Assignment.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Assignment.AssignedTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Done)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=task.TaskId })
                @Html.ActionLink("Details","Details", new {id = task.TaskId})
                @Html.ActionLink("Delete", "Delete", new {id=task.TaskId})
            </td>

        </tr>
    }
    }
    </tbody>
</table>
